<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAap7uQUxzgTr7NhMmj7ktx1IYdy4atctk</string>
	<key>GCM_SENDER_ID</key>
	<string>584455167324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exam.youtubeFb</string>
	<key>PROJECT_ID</key>
	<string>you-tube-tutorial-for-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>you-tube-tutorial-for-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584455167324:ios:e4842a26fe9d74d8677599</string>
</dict>
</plist>